workflows_backup/Telegram/0705_Telegram_Automate_Triggered.json
{
  "nodes": [
    {
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "position": [
        450,
        300
      ],
      "parameters": {
        "updates": [
          "message"
        ]
      },
      "credentials": {
        "telegramApi": ""
      },
      "typeVersion": 1,
      "id": "ccfab7dc-417e-4c94-8ee0-a4067f006aa9"
    },
    {
      "name": "Return Sticker",
      "type": "n8n-nodes-base.telegram",
      "position": [
        850,
        200
      ],
      "parameters": {
        "text": "=Hi {{$node[\"Look for Sticker\"].data[\"message\"][\"from\"][\"first_name\"]}}!\nThe ID of the sticker is: {{$node[\"Look for Sticker\"].data[\"message\"][\"sticker\"][\"file_id\"]}}\nIt is part of the sticker-set: {{$node[\"Look for Sticker\"].data[\"message\"][\"sticker\"][\"set_name\"]}}",
        "chatId": "={{$node[\"Look for Sticker\"].data[\"message\"][\"chat\"][\"id\"]}}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": ""
      },
      "typeVersion": 1,
      "id": "ae263e4b-b141-4e06-adce-3bbfcd4e1c51"
    },
    {
      "name": "Return no Sticker found",
      "type": "n8n-nodes-base.telegram",
      "position": [
        850,
        400
      ],
      "parameters": {
        "text": "=Hi {{$node[\"Look for Sticker\"].data[\"message\"][\"from\"][\"first_name\"]}}!\nYour message did not contain any sticker.",
        "chatId": "={{$node[\"Look for Sticker\"].data[\"message\"][\"chat\"][\"id\"]}}",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "n8nTestBot"
      },
      "typeVersion": 1,
      "id": "a1d94bb5-7250-4afd-b942-682b02f2ebb0"
    },
    {
      "name": "Look for Sticker",
      "type": "n8n-nodes-base.if",
      "position": [
        650,
        300
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{!!$node[\"Telegram Trigger\"].data[\"message\"][\"sticker\"]}}",
              "value2": true
            }
          ]
        }
      },
      "typeVersion": 1,
      "id": "654243ee-2773-4d27-9343-72ad97ea671a"
    },
    {
      "id": "documentation-node",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "parameters": {
        "content": "# Telegramtrigger Workflow\n\nAutomated workflow: Telegramtrigger Workflow. This workflow processes data and performs automated tasks.\n\n## Nodes:\n- 4 total nodes\n- Includes error handling\n- Follows best practices\n\n## Usage:\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production"
      }
    }
  ],
  "connections": {
    "Look for Sticker": {
      "main": [
        [
          {
            "node": "Return Sticker",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return no Sticker found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Look for Sticker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "Telegramtrigger Workflow",
  "description": "Automated workflow: Telegramtrigger Workflow. This workflow processes data and performs automated tasks.",
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC"
  }
}