workflows_backup/Telegram/0944_Telegram_Rssfeedread_Automation_Scheduled.json
{
  "id": "3",
  "name": "rss-telegram",
  "nodes": [
    {
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        480,
        220
      ],
      "parameters": {
        "batchSize": 1
      },
      "typeVersion": 1,
      "id": "09464f2d-b264-4796-9732-137acaeff906"
    },
    {
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "position": [
        610,
        220
      ],
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\n\n// Access its data\nconst oldlink = staticData.oldlink;\n\nitems[0].json.oldlink = oldlink || \"\";\n\n// Update its data\nstaticData.oldlink = items[0].json.link;\n\nreturn items;"
      },
      "typeVersion": 1,
      "id": "708ed6bd-4b32-4a0f-933d-41543bfc50cc"
    },
    {
      "name": "Cron1",
      "type": "n8n-nodes-base.cron",
      "position": [
        180,
        290
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "typeVersion": 1,
      "id": "cdcd8520-e271-4a92-9658-b15983940247"
    },
    {
      "name": "是否重复",
      "type": "n8n-nodes-base.if",
      "notes": "判断链接是否相同",
      "position": [
        750,
        220
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Function\"].data[\"oldlink\"]}}",
              "value2": "={{$node[\"Function\"].data[\"link\"]}}"
            }
          ]
        }
      },
      "typeVersion": 1,
      "id": "e172ef80-7428-49a8-aa5e-716e5b584f4d"
    },
    {
      "name": "写入图片的属性",
      "type": "n8n-nodes-base.function",
      "position": [
        910,
        220
      ],
      "parameters": {
        "functionCode": "function imgList(items) {\n  let imgReg = /<img.*?(?:>|\\/>)/gi //匹配图片中的img标签\n  let srcReg = /src=[\\'\\\"]?([^\\'\\\"]*)[\\'\\\"]?/i // 匹配图片中的src\n  let str = items[0].json.content\n  let arr = str.match(imgReg)  //筛选出所有的img\n  let srcArr = []\n  if(arr !== null){\n     for (let i = 0; i < arr.length; i++) {\n          let src = arr[i].match(srcReg)\n          // 获取图片地址\n          srcArr.push(src[1])\n      }\n        items[0].json.arrlength = arr.length;\n        items[0].json.imgList = srcArr;\n   } else {\n        items[0].json.arrlength = 0;\n   }\n   \n }\nimgList(items)\nreturn items;"
      },
      "typeVersion": 1,
      "id": "55a8a0a2-ce21-4c60-81ba-8acd8b2b658e"
    },
    {
      "name": "图片数量判断",
      "type": "n8n-nodes-base.if",
      "position": [
        1060,
        220
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"写入图片的属性\"].data[\"arrlength\"]}}",
              "value2": 1,
              "operation": "equal"
            }
          ],
          "string": [],
          "boolean": []
        }
      },
      "typeVersion": 1,
      "id": "689e53c5-5741-4fb4-902c-6478803a1ac5"
    },
    {
      "name": "一张图片",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1270,
        80
      ],
      "parameters": {
        "file": "={{$node[\"图片数量判断\"].data[\"imgList\"][0]}}",
        "chatId": "-1001314058276",
        "operation": "sendPhoto",
        "additionalFields": {
          "caption": "={{$node[\"图片数量判断\"].data[\"contentSnippet\"]}}"
        }
      },
      "credentials": {
        "telegramApi": "lataimei"
      },
      "typeVersion": 1,
      "id": "a67a6b41-cefa-4940-a696-c3241ce05fbf"
    },
    {
      "name": "其他状况",
      "type": "n8n-nodes-base.telegram",
      "notes": "无图片",
      "position": [
        1270,
        230
      ],
      "parameters": {
        "text": "={{$node[\"图片数量判断\"].data[\"contentSnippet\"]}} {{$node[\"图片数量判断\"].data[\"link\"]}}",
        "chatId": "-1001314058276",
        "additionalFields": {
          "parse_mode": "HTML",
          "disable_web_page_preview": true
        }
      },
      "credentials": {
        "telegramApi": "lataimei"
      },
      "typeVersion": 1,
      "id": "dadac2e2-d785-4ef7-b690-58c31df479d5"
    },
    {
      "name": "NaN",
      "type": "n8n-nodes-base.function",
      "position": [
        910,
        370
      ],
      "parameters": {
        "functionCode": "function imgList(items) {\n  let imgReg = /<img.*?(?:>|\\/>)/gi //匹配图片中的img标签\n  let srcReg = /src=[\\'\\\"]?([^\\'\\\"]*)[\\'\\\"]?/i // 匹配图片中的src\n  let str = items[0].json.content\n  let arr = str.match(imgReg)  //筛选出所有的img\n  let srcArr = []\n  if(arr !== null){\n     for (let i = 0; i < arr.length; i++) {\n          let src = arr[i].match(srcReg)\n          // 获取图片地址\n          srcArr.push(src[1])\n      }\n        items[0].json.arrlength = arr.length;\n        items[0].json.imgList = srcArr;\n   } else {\n        items[0].json.arrlength = 0;\n   }\n   \n }\nimgList(items)\nreturn items;"
      },
      "typeVersion": 1,
      "id": "07bade74-0e2c-4682-894b-903c333f280e"
    },
    {
      "name": "SplitInBatches1",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        480,
        370
      ],
      "parameters": {
        "batchSize": 1
      },
      "typeVersion": 1,
      "id": "b822e69e-10b8-4f37-ae07-3b3b4d4c1923"
    },
    {
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "position": [
        610,
        370
      ],
      "parameters": {
        "functionCode": "const staticData = getWorkflowStaticData('global');\n\n// Access its data\nconst tsaioldlink = staticData.tsaioldlink;\n\nitems[0].json.tsaioldlink = tsaioldlink || \"\";\n\n// Update its data\nstaticData.tsaioldlink = items[0].json.link;\n\nreturn items;"
      },
      "typeVersion": 1,
      "id": "86468edf-267d-4b18-b653-29e986921c20"
    },
    {
      "name": "If Node",
      "type": "n8n-nodes-base.if",
      "position": [
        750,
        370
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Function1\"].data[\"tsaioldlink\"]}}",
              "value2": "={{$node[\"Function1\"].data[\"link\"]}}"
            }
          ]
        }
      },
      "typeVersion": 1,
      "id": "712c0cab-ffcc-48e5-b9ef-791c533d6870"
    },
    {
      "name": "IF1",
      "type": "n8n-nodes-base.if",
      "position": [
        1060,
        370
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": 1,
              "value2": "=0",
              "operation": "equal"
            }
          ]
        }
      },
      "typeVersion": 1,
      "id": "86c19579-fc0b-4f3f-b1a1-1c0d1d36fefb"
    },
    {
      "name": "send",
      "type": "n8n-nodes-base.telegram",
      "notes": "无图片",
      "position": [
        1270,
        380
      ],
      "parameters": {
        "file": "={{$node[\"IF1\"].data[\"imgList\"][0]}}",
        "chatId": "-1001499587010",
        "operation": "sendPhoto",
        "additionalFields": {
          "caption": "={{$node[\"IF1\"].data[\"contentSnippet\"]}}"
        }
      },
      "credentials": {
        "telegramApi": "lataimei"
      },
      "typeVersion": 1,
      "id": "a132ba8d-663b-4c84-beeb-a882a1d1362a"
    },
    {
      "name": "instagram rss",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        360,
        370
      ],
      "parameters": {
        "url": "{{ $env.BASE_URL }}"
      },
      "typeVersion": 1,
      "id": "a7bb00b8-1173-44b3-94bd-fe445a44f20f"
    },
    {
      "name": "weibo rss",
      "type": "n8n-nodes-base.rssFeedRead",
      "position": [
        360,
        220
      ],
      "parameters": {
        "url": "{{ $env.BASE_URL }}"
      },
      "typeVersion": 1,
      "id": "a86b9907-dabc-436d-82ff-a4a3c88fa6a1"
    },
    {
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        1270,
        530
      ],
      "parameters": {
        "file": "={{$node[\"IF1\"].data[\"imgList\"][0]}}",
        "chatId": "-1001499587010",
        "operation": "sendPhoto",
        "additionalFields": {
          "caption": "={{$node[\"IF1\"].data[\"contentSnippet\"]}} {{$node[\"IF1\"].data[\"link\"]}}"
        }
      },
      "credentials": {
        "telegramApi": "lataimei"
      },
      "typeVersion": 1,
      "id": "a929460f-3271-4da3-b5dd-760280b288db"
    },
    {
      "name": "test",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        180,
        130
      ],
      "parameters": {},
      "typeVersion": 1,
      "id": "a47ed404-5ff6-435f-8e51-7c87e2797634"
    },
    {
      "id": "documentation-node",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "parameters": {
        "content": "# rss-telegram\n\nAutomated workflow: rss-telegram. This workflow processes data and performs automated tasks.\n\n## Nodes:\n- 18 total nodes\n- Includes error handling\n- Follows best practices\n\n## Usage:\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production"
      }
    }
  ],
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC"
  },
  "connections": {
    "IF": {
      "main": [
        [],
        [
          {
            "node": "NaN",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF1": {
      "main": [
        [
          {
            "node": "send",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NaN": {
      "main": [
        [
          {
            "node": "IF1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "test": {
      "main": [
        [
          {
            "node": "instagram rss",
            "type": "main",
            "index": 0
          },
          {
            "node": "weibo rss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron1": {
      "main": [
        [
          {
            "node": "weibo rss",
            "type": "main",
            "index": 0
          },
          {
            "node": "instagram rss",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "是否重复",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function1": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "weibo rss": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "是否重复": {
      "main": [
        [],
        [
          {
            "node": "写入图片的属性",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "instagram rss": {
      "main": [
        [
          {
            "node": "SplitInBatches1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SplitInBatches1": {
      "main": [
        [
          {
            "node": "Function1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "图片数量判断": {
      "main": [
        [
          {
            "node": "一张图片",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "其他状况",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "写入图片的属性": {
      "main": [
        [
          {
            "node": "图片数量判断",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "description": "Automated workflow: rss-telegram. This workflow processes data and performs automated tasks."
}