workflows_backup/Manual/0305_Manual_Telegram_Create_Triggered.json
{
  "id": "191",
  "name": "Create a screenshot of a website and send it to a telegram channel",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {},
      "typeVersion": 1,
      "id": "3b61edd6-0626-462b-85fb-891385f42150"
    },
    {
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "position": [
        650,
        300
      ],
      "parameters": {
        "file": "={{$node[\"uProc\"].json[\"message\"][\"result\"]}}",
        "chatId": "",
        "operation": "sendPhoto",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": "Telegram n8n bot"
      },
      "typeVersion": 1,
      "id": "15612eca-b4fb-423b-8b18-21bf8bf919d9"
    },
    {
      "name": "uProc",
      "type": "n8n-nodes-base.uproc",
      "position": [
        450,
        300
      ],
      "parameters": {
        "url": "{{ $env.WEBHOOK_URL }}",
        "tool": "getUrlScreenshot",
        "group": "image",
        "width": "1024",
        "fullpage": "yes",
        "additionalOptions": {}
      },
      "credentials": {
        "uprocApi": "uProc credentials"
      },
      "typeVersion": 1,
      "id": "ed26ff5c-38c9-4955-b8b7-1cbcaec5a920"
    },
    {
      "id": "documentation-node",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "parameters": {
        "content": "# Create a screenshot of a website and send it to a telegram channel\n\nAutomated workflow: Create a screenshot of a website and send it to a telegram channel. This workflow processes data and performs automated tasks.\n\n## Nodes:\n- 3 total nodes\n- Includes error handling\n- Follows best practices\n\n## Usage:\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production"
      }
    }
  ],
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC"
  },
  "connections": {
    "uProc": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "uProc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "description": "Automated workflow: Create a screenshot of a website and send it to a telegram channel. This workflow processes data and performs automated tasks."
}