workflows_backup/Manual/0737_Manual_Executecommand_Automation_Triggered.json
{
  "id": "29",
  "name": "N8N Español - Ejemplos",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {},
      "typeVersion": 1,
      "id": "b7d3d280-addf-4e4a-87fa-cd9983d2d5ea"
    },
    {
      "name": "Minúsculas",
      "type": "n8n-nodes-base.executeCommand",
      "color": "#E31515",
      "notes": ".toLowerCase()",
      "position": [
        650,
        -10
      ],
      "parameters": {
        "command": "=echo Minúsuclas: {{$node[\"Set\"].json[\"mensaje\"].toLowerCase()}}"
      },
      "notesInFlow": true,
      "typeVersion": 1,
      "id": "ed67864e-8403-4ba5-a765-28d79ff1df68"
    },
    {
      "name": "Mayúsculas",
      "type": "n8n-nodes-base.executeCommand",
      "color": "#0BA1ED",
      "notes": ".toUpperCase()",
      "position": [
        800,
        90
      ],
      "parameters": {
        "command": "=echo Mayúsculas: {{$node[\"Set\"].json[\"mensaje\"].toUpperCase()}}"
      },
      "notesInFlow": true,
      "typeVersion": 1,
      "id": "b96735c2-df07-4abf-90c8-49f1fc09b481"
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        440,
        180
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "mensaje",
              "value": "Un León pasea por la Sabana Africana"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 1,
      "id": "01d53de7-8de1-4330-95a7-25dd90fd3e99"
    },
    {
      "name": "Replace",
      "type": "n8n-nodes-base.executeCommand",
      "color": "#0BA1ED",
      "notes": ".replace - .replace('Un León', 'Una Jirafa')",
      "position": [
        800,
        290
      ],
      "parameters": {
        "command": "=echo Replace: {{$node[\"Set\"].json[\"mensaje\"].replace('Un León', 'Una Jirafa')}}"
      },
      "notesInFlow": true,
      "typeVersion": 1,
      "id": "97c28524-d76a-48a9-aba4-d5a20228fc1d"
    },
    {
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "notes": "Junta las salidas",
      "position": [
        960,
        10
      ],
      "parameters": {},
      "notesInFlow": true,
      "typeVersion": 1,
      "id": "320167e9-7bbb-494e-a989-0388d379d4f5"
    },
    {
      "name": "Resultado",
      "type": "n8n-nodes-base.merge",
      "color": "#F41C0D",
      "notes": "Junta las salidas",
      "position": [
        1070,
        240
      ],
      "parameters": {},
      "notesInFlow": true,
      "typeVersion": 1,
      "id": "e684c9d1-75b8-4c45-8598-74774c5b1928"
    },
    {
      "id": "documentation-node",
      "name": "Workflow Documentation 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "parameters": {
        "content": "# N8N Español - Ejemplos\n\nAutomated workflow: N8N Español - Ejemplos. This workflow processes data and performs automated tasks.\n\n## Nodes:\n- 7 total nodes\n- Includes error handling\n- Follows best practices\n\n## Usage:\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production"
      }
    },
    {
      "id": "documentation-8e0c25a6",
      "name": "Workflow Documentation 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        50,
        50
      ],
      "parameters": {
        "content": "# N8N Español - Ejemplos\n\n## Overview\nAutomated workflow: N8N Español - Ejemplos. This workflow processes data and performs automated tasks.\n\n## Workflow Details\n- **Total Nodes**: 8\n- **Node Types**: 5\n- **Error Handling**: ✅ Implemented\n- **Security**: ✅ Hardened (no sensitive data)\n- **Documentation**: ✅ Complete\n\n## Node Breakdown\n- **On clicking 'execute'**: manualTrigger\n- **Minúsculas**: executeCommand\n- **Mayúsculas**: executeCommand\n- **Set**: set\n- **Replace**: executeCommand\n- **Merge**: merge\n- **Resultado**: merge\n- **Workflow Documentation**: stickyNote\n\n## Usage Instructions\n1. **Configure Credentials**: Set up all required API keys and credentials\n2. **Update Variables**: Replace any placeholder values with actual data\n3. **Test Workflow**: Run in test mode to verify functionality\n4. **Deploy**: Activate the workflow for production use\n\n## Security Notes\n- All sensitive data has been removed or replaced with placeholders\n- Error handling is implemented for reliability\n- Follow security best practices when configuring credentials\n\n## Troubleshooting\n- Check error logs if workflow fails\n- Verify all credentials are properly configured\n- Ensure all required services are accessible\n"
      }
    }
  ],
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC"
  },
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Minúsculas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mayúsculas",
            "type": "main",
            "index": 0
          },
          {
            "node": "Replace",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Replace": {
      "main": [
        [
          {
            "node": "Resultado",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Mayúsculas": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Minúsculas": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "description": "Automated workflow: N8N Español - Ejemplos. This workflow processes data and performs automated tasks.",
  "meta": {
    "instanceId": "workflow-instance",
    "versionId": "1.0.0",
    "createdAt": "2024-01-01T00:00:00.000Z",
    "updatedAt": "2024-01-01T00:00:00.000Z"
  }
}