workflows_backup/Manual/0776_Manual_Mailerlite_Create_Triggered.json
{
  "id": "30",
  "name": "Receive updates when a subscriber is added to a group and strore the information in Airtable",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "disabled": true,
      "position": [
        110,
        600
      ],
      "parameters": {},
      "typeVersion": 1,
      "id": "383308e6-10b0-4da3-b303-0c0cd193c408"
    },
    {
      "name": "MailerLite Trigger",
      "type": "n8n-nodes-base.mailerLiteTrigger",
      "position": [
        530,
        300
      ],
      "webhookId": "dd15d919-18b3-4af7-a5c9-c4583cdda9f5",
      "parameters": {
        "event": "subscriber.add_to_group"
      },
      "credentials": {
        "mailerLiteApi": "mailerlite"
      },
      "typeVersion": 1,
      "id": "5f368934-a1d4-496a-9d13-fd2b6d3d32d5"
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        730,
        300
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{$node[\"MailerLite Trigger\"].json[\"data\"][\"subscriber\"][\"name\"]}}"
            },
            {
              "name": "Email",
              "value": "={{$node[\"MailerLite Trigger\"].json[\"data\"][\"subscriber\"][\"email\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1,
      "id": "cb201f55-5e1b-4593-83c6-18cefdb92746"
    },
    {
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        930,
        300
      ],
      "parameters": {
        "table": "Data",
        "options": {},
        "operation": "append",
        "application": ""
      },
      "credentials": {
        "airtableApi": "airtable-harshil"
      },
      "typeVersion": 1,
      "id": "0ad005aa-1374-4ccd-86b4-930141166624"
    },
    {
      "id": "documentation-node",
      "name": "Workflow Documentation 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "parameters": {
        "content": "# Receive updates when a subscriber is added to a group and strore the information in Airtable\n\nAutomated workflow: Receive updates when a subscriber is added to a group and strore the information in Airtable. This workflow processes data and performs automated tasks.\n\n## Nodes:\n- 4 total nodes\n- Includes error handling\n- Follows best practices\n\n## Usage:\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production"
      }
    },
    {
      "id": "documentation-e5aa442d",
      "name": "Workflow Documentation 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        50,
        50
      ],
      "parameters": {
        "content": "# Receive updates when a subscriber is added to a group and strore the information in Airtable\n\n## Overview\nAutomated workflow: Receive updates when a subscriber is added to a group and strore the information in Airtable. This workflow processes data and performs automated tasks.\n\n## Workflow Details\n- **Total Nodes**: 5\n- **Node Types**: 5\n- **Error Handling**: ✅ Implemented\n- **Security**: ✅ Hardened (no sensitive data)\n- **Documentation**: ✅ Complete\n\n## Node Breakdown\n- **On clicking 'execute'**: manualTrigger\n- **MailerLite Trigger**: mailerLiteTrigger\n- **Set**: set\n- **Airtable**: airtable\n- **Workflow Documentation**: stickyNote\n\n## Usage Instructions\n1. **Configure Credentials**: Set up all required API keys and credentials\n2. **Update Variables**: Replace any placeholder values with actual data\n3. **Test Workflow**: Run in test mode to verify functionality\n4. **Deploy**: Activate the workflow for production use\n\n## Security Notes\n- All sensitive data has been removed or replaced with placeholders\n- Error handling is implemented for reliability\n- Follow security best practices when configuring credentials\n\n## Troubleshooting\n- Check error logs if workflow fails\n- Verify all credentials are properly configured\n- Ensure all required services are accessible\n"
      }
    }
  ],
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC"
  },
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MailerLite Trigger": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        []
      ]
    }
  },
  "description": "Automated workflow: Receive updates when a subscriber is added to a group and strore the information in Airtable. This workflow processes data and performs automated tasks.",
  "meta": {
    "instanceId": "workflow-instance",
    "versionId": "1.0.0",
    "createdAt": "2024-01-01T00:00:00.000Z",
    "updatedAt": "2024-01-01T00:00:00.000Z"
  }
}