workflows_backup/Http/0252_HTTP_GitHub_Create_Webhook.json
{
  "meta": {
    "instanceId": "workflow-instance",
    "versionId": "1.0.0",
    "createdAt": "2024-01-01T00:00:00.000Z",
    "updatedAt": "2024-01-01T00:00:00.000Z"
  },
  "nodes": [
    {
      "id": "a84fa822-fd74-45db-93c6-f51be75ef307",
      "name": "person exists",
      "type": "n8n-nodes-base.if",
      "position": [
        920,
        340
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"name\"]}}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "id": "500ef1bd-8965-4245-81d7-14c3897b4275",
      "name": "Set person Id",
      "type": "n8n-nodes-base.set",
      "position": [
        1480,
        320
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "PipedrivePersonId",
              "value": "={{ $json[\"id\"] }}"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "id": "ab1a1335-92c8-41f8-b008-5b19530f08e9",
      "name": "Create lead",
      "type": "n8n-nodes-base.pipedrive",
      "position": [
        1740,
        320
      ],
      "parameters": {
        "title": "=Repo '{{$node[\"On fork\"].json[\"body\"][\"repository\"][\"full_name\"]}}' forked by {{$json[\"name\"]}}",
        "resource": "lead",
        "person_id": "={{$json[\"PipedrivePersonId\"]}}",
        "associateWith": "person",
        "additionalFields": {}
      },
      "credentials": {
        "pipedriveApi": {
          "id": "{{ $credentials.pipedriveApi.id }}",
          "name": "Pipedrive account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "4fd06c6a-4975-4a6a-95f3-bb48f3e9bdf6",
      "name": "On fork",
      "type": "n8n-nodes-base.githubTrigger",
      "position": [
        180,
        340
      ],
      "webhookId": "ff05ca29-9ed3-4b97-a4ce-4f9b1c05255f",
      "parameters": {
        "owner": "John-n8n",
        "events": [
          "fork"
        ],
        "repository": "DemoRepo"
      },
      "credentials": {
        "githubApi": {
          "id": "{{ $credentials.githubApi.id }}",
          "name": "GitHub account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "86554078-ce7c-4dd3-b36f-d1bf22530f7b",
      "name": "Create person",
      "type": "n8n-nodes-base.pipedrive",
      "position": [
        1200,
        440
      ],
      "parameters": {
        "name": "={{ $node[\"On fork\"].json[\"body\"].forkee.owner.login }}",
        "resource": "person",
        "additionalFields": {
          "email": [
            "={{$node[\"Get Github user information\"].email}}"
          ]
        }
      },
      "credentials": {
        "pipedriveApi": {
          "id": "{{ $credentials.pipedriveApi.id }}",
          "name": "Pipedrive account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "c4a8dae8-d6f3-4309-8fa5-78d69cf1b1e8",
      "name": "Create note with github url",
      "type": "n8n-nodes-base.pipedrive",
      "position": [
        1980,
        320
      ],
      "parameters": {
        "content": "=Github user url: {{ $node[\"On fork\"].json[\"body\"].sender.html_url }}",
        "resource": "note",
        "additionalFields": {
          "lead_id": "={{ $json[\"id\"] }}"
        }
      },
      "credentials": {
        "pipedriveApi": {
          "id": "{{ $credentials.pipedriveApi.id }}",
          "name": "Pipedrive account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "8dfa3e8e-29d8-4098-825d-8ec915ca6f3f",
      "name": "Get Github user information",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        440,
        340
      ],
      "parameters": {
        "url": "{{ $env.BASE_URL }}",
        "options": {},
        "authentication": "{{ $credentials.predefinedCredentialType }}",
        "nodeCredentialType": "YOUR_CREDENTIAL_HERE"
      },
      "credentials": {
        "githubApi": {
          "id": "{{ $credentials.githubApi.id }}",
          "name": "GitHub account"
        }
      },
      "typeVersion": 2
    },
    {
      "id": "c4c2538a-28e8-4c75-856d-000a727a4f13",
      "name": "Search forkee in Pipedrive by email",
      "type": "n8n-nodes-base.pipedrive",
      "position": [
        680,
        340
      ],
      "parameters": {
        "term": "={{ $json[\"email\"]}}",
        "resource": "person",
        "operation": "search",
        "additionalFields": {
          "fields": "email"
        }
      },
      "credentials": {
        "pipedriveApi": {
          "id": "{{ $credentials.pipedriveApi.id }}",
          "name": "Pipedrive account"
        }
      },
      "typeVersion": 1,
      "alwaysOutputData": true
    },
    {
      "id": "error-handler-8dfa3e8e-29d8-4098-825d-8ec915ca6f3f",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        800,
        400
      ],
      "parameters": {
        "message": "Error occurred in 8dfa3e8e-29d8-4098-825d-8ec915ca6f3f",
        "options": {}
      }
    },
    {
      "id": "documentation-node",
      "name": "Workflow Documentation 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "parameters": {
        "content": "# If Workflow\n\nAutomated workflow: If Workflow. This workflow processes data and performs automated tasks.\n\n## Nodes:\n- 9 total nodes\n- Includes error handling\n- Follows best practices\n\n## Usage:\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production"
      }
    },
    {
      "id": "error-handler-8dfa3e8e-29d8-4098-825d-8ec915ca6f3f-170b117c",
      "name": "Error Handler for 8dfa3e8e",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ],
      "parameters": {
        "message": "Error occurred in workflow execution at node 8dfa3e8e",
        "options": {}
      }
    },
    {
      "id": "documentation-43ebe986",
      "name": "Workflow Documentation 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        50,
        50
      ],
      "parameters": {
        "content": "# If Workflow\n\n## Overview\nAutomated workflow: If Workflow. This workflow processes data and performs automated tasks.\n\n## Workflow Details\n- **Total Nodes**: 11\n- **Node Types**: 7\n- **Error Handling**: ✅ Implemented\n- **Security**: ✅ Hardened (no sensitive data)\n- **Documentation**: ✅ Complete\n\n## Node Breakdown\n- **person exists**: if\n- **Set person Id**: set\n- **Create lead**: pipedrive\n- **On fork**: githubTrigger\n- **Create person**: pipedrive\n- **Create note with github url**: pipedrive\n- **Get Github user information**: httpRequest\n- **Search forkee in Pipedrive by email**: pipedrive\n- **Error Handler**: stopAndError\n- **Workflow Documentation**: stickyNote\n- ... and 1 more nodes\n\n## Usage Instructions\n1. **Configure Credentials**: Set up all required API keys and credentials\n2. **Update Variables**: Replace any placeholder values with actual data\n3. **Test Workflow**: Run in test mode to verify functionality\n4. **Deploy**: Activate the workflow for production use\n\n## Security Notes\n- All sensitive data has been removed or replaced with placeholders\n- Error handling is implemented for reliability\n- Follow security best practices when configuring credentials\n\n## Troubleshooting\n- Check error logs if workflow fails\n- Verify all credentials are properly configured\n- Ensure all required services are accessible\n"
      }
    }
  ],
  "connections": {
    "On fork": {
      "main": [
        [
          {
            "node": "Get Github user information",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create lead": {
      "main": [
        [
          {
            "node": "Create note with github url",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create person": {
      "main": [
        [
          {
            "node": "Set person Id",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set person Id": {
      "main": [
        [
          {
            "node": "Create lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "person exists": {
      "main": [
        [
          {
            "node": "Set person Id",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create person",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Github user information": {
      "main": [
        [
          {
            "node": "Search forkee in Pipedrive by email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search forkee in Pipedrive by email": {
      "main": [
        [
          {
            "node": "person exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8dfa3e8e-29d8-4098-825d-8ec915ca6f3f": {
      "main": [
        [
          {
            "node": "error-handler-8dfa3e8e-29d8-4098-825d-8ec915ca6f3f",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "error-handler-8dfa3e8e-29d8-4098-825d-8ec915ca6f3f-170b117c",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "If Workflow",
  "description": "Automated workflow: If Workflow. This workflow processes data and performs automated tasks.",
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC"
  }
}