workflows_backup/Emelia/1214_Emelia_Automate.json
{
  "nodes": [
    {
      "name": "Emelia",
      "type": "n8n-nodes-base.emelia",
      "position": [
        530,
        310
      ],
      "parameters": {
        "operation": "create",
        "campaignName": "n8n-docs"
      },
      "credentials": {
        "emeliaApi": "Emelia API Credentials"
      },
      "typeVersion": 1,
      "id": "af606199-00c4-4a80-b764-b28a374d21a0"
    },
    {
      "name": "Emelia1",
      "type": "n8n-nodes-base.emelia",
      "position": [
        730,
        310
      ],
      "parameters": {
        "operation": "addContact",
        "campaignId": "603dfd70cbe34c3c9730fd09",
        "contactEmail": "email@example.com",
        "additionalFields": {
          "firstName": "NAME"
        }
      },
      "credentials": {
        "emeliaApi": "Emelia API Credentials"
      },
      "typeVersion": 1,
      "id": "e296fb03-89a0-4f41-a7b5-46e1ab2d2ae3"
    },
    {
      "name": "Emelia2",
      "type": "n8n-nodes-base.emelia",
      "position": [
        930,
        310
      ],
      "parameters": {
        "campaignId": "={{$node[\"Emelia\"].json[\"_id\"]}}"
      },
      "credentials": {
        "emeliaApi": "Emelia API Credentials"
      },
      "typeVersion": 1,
      "id": "784a1bfe-98a7-4d18-b3e7-a29e7ef293e1"
    },
    {
      "id": "documentation-node",
      "name": "Workflow Documentation 1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "parameters": {
        "content": "# Emelia Workflow\n\nAutomated workflow: Emelia Workflow. This workflow processes data and performs automated tasks.\n\n## Nodes:\n- 3 total nodes\n- Includes error handling\n- Follows best practices\n\n## Usage:\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production"
      }
    },
    {
      "id": "documentation-df5695ba",
      "name": "Workflow Documentation 2",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        50,
        50
      ],
      "parameters": {
        "content": "# Emelia Workflow\n\n## Overview\nAutomated workflow: Emelia Workflow. This workflow processes data and performs automated tasks.\n\n## Workflow Details\n- **Total Nodes**: 4\n- **Node Types**: 2\n- **Error Handling**: ✅ Implemented\n- **Security**: ✅ Hardened (no sensitive data)\n- **Documentation**: ✅ Complete\n\n## Node Breakdown\n- **Emelia**: emelia\n- **Emelia1**: emelia\n- **Emelia2**: emelia\n- **Workflow Documentation**: stickyNote\n\n## Usage Instructions\n1. **Configure Credentials**: Set up all required API keys and credentials\n2. **Update Variables**: Replace any placeholder values with actual data\n3. **Test Workflow**: Run in test mode to verify functionality\n4. **Deploy**: Activate the workflow for production use\n\n## Security Notes\n- All sensitive data has been removed or replaced with placeholders\n- Error handling is implemented for reliability\n- Follow security best practices when configuring credentials\n\n## Troubleshooting\n- Check error logs if workflow fails\n- Verify all credentials are properly configured\n- Ensure all required services are accessible\n"
      }
    }
  ],
  "connections": {
    "Emelia": {
      "main": [
        [
          {
            "node": "Emelia1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Emelia1": {
      "main": [
        [
          {
            "node": "Emelia2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "Emelia Workflow",
  "description": "Automated workflow: Emelia Workflow. This workflow processes data and performs automated tasks.",
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC"
  },
  "meta": {
    "instanceId": "workflow-instance",
    "versionId": "1.0.0",
    "createdAt": "2024-01-01T00:00:00.000Z",
    "updatedAt": "2024-01-01T00:00:00.000Z"
  }
}