workflows_backup/Slack/0109_Slack_Cron_Automate_Scheduled.json
{
  "nodes": [
    {
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "position": [
        540,
        -320
      ],
      "parameters": {
        "options": {},
        "calendar": "xxxxx@gmail.com",
        "operation": "getAll",
        "returnAll": true
      },
      "credentials": {
        "googleCalendarOAuth2Api": "Google Accounts"
      },
      "typeVersion": 1,
      "id": "ab6d1837-844d-4c99-88c6-8c27b5c6a0e4"
    },
    {
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "position": [
        540,
        70
      ],
      "parameters": {
        "functionCode": "var date = new Date().toISOString();\nvar day = new Date().getDay();\nconst weekday = [\"Sunday\", \"Monday\", \"Tuesday\", \"Wednesday\", \"Thursday\", \"Friday\", \"Saturday\"];\n\nitems[0].json.date_today = date;\nitems[0].json.day_today = weekday[day];\n\nreturn items;"
      },
      "notesInFlow": false,
      "typeVersion": 1,
      "id": "31c11055-846c-47d7-9aa6-0f5cf93c2fb9"
    },
    {
      "name": "Date & Time",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        720,
        -320
      ],
      "parameters": {
        "value": "={{$json[\"start\"][\"dateTime\"]}}",
        "custom": true,
        "options": {
          "toTimezone": "Asia/Qatar"
        },
        "toFormat": "DD/MM/YYYY",
        "dataPropertyName": "Event Start Date Only"
      },
      "typeVersion": 1,
      "id": "98e575f6-ca00-41d5-9595-7d734a623096"
    },
    {
      "name": "If Node",
      "type": "n8n-nodes-base.if",
      "position": [
        1410,
        -110
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "= {{$json[\"Event Date\"]}}",
              "value2": "= {{$json[\"Today's Date\"]}}"
            }
          ],
          "dateTime": []
        }
      },
      "typeVersion": 1,
      "id": "0671e6dd-ea09-4fa7-b4a1-fb30c3cad22f"
    },
    {
      "name": "Date & Time1",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        880,
        70
      ],
      "parameters": {
        "value": "={{$json[\"date_today\"]}}",
        "custom": true,
        "options": {
          "toTimezone": "Asia/Qatar"
        },
        "toFormat": "DD/MM/YYYY",
        "dataPropertyName": "Today's Date"
      },
      "typeVersion": 1,
      "id": "72f7a3c9-1966-4ac1-8023-77ba73e9eac8"
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        910,
        -320
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Event Name",
              "value": "={{$json[\"summary\"]}}"
            },
            {
              "name": "Event Date",
              "value": "={{$json[\"Event Start Date Only\"]}}"
            },
            {
              "name": "Today's Date",
              "value": "="
            },
            {
              "name": "Gcal URL",
              "value": "={{$json[\"htmlLink\"]}}"
            },
            {
              "name": "Location",
              "value": "={{$json[\"location\"]}}"
            },
            {
              "name": "Start Time",
              "value": "={{$json[\"start\"][\"dateTime\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1,
      "id": "64824fec-1324-4698-8dd8-17f3c0015c1f"
    },
    {
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1200,
        -110
      ],
      "parameters": {
        "mode": "multiplex"
      },
      "typeVersion": 1,
      "id": "57ca9e57-4646-4def-913f-dac495aad94c"
    },
    {
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "position": [
        1630,
        -130
      ],
      "parameters": {
        "values": {
          "number": [],
          "string": [
            {
              "name": "Name",
              "value": "={{$json[\"Event Name\"]}}"
            },
            {
              "name": "Time",
              "value": "={{$json[\"Start Time\"]}}"
            },
            {
              "name": "URL",
              "value": "={{$json[\"Gcal URL\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1,
      "id": "0a310358-ec76-4a10-a5ea-0d07ba4f5d3e"
    },
    {
      "name": "Date & Time2",
      "type": "n8n-nodes-base.dateTime",
      "position": [
        1800,
        -130
      ],
      "parameters": {
        "value": "={{$json[\"Time\"]}}",
        "custom": true,
        "options": {
          "toTimezone": "Asia/Qatar"
        },
        "toFormat": "HH:mm",
        "dataPropertyName": "Time"
      },
      "typeVersion": 1,
      "id": "1bcb0cca-7cf7-481c-8b09-0877964d485c"
    },
    {
      "name": "Function1",
      "type": "n8n-nodes-base.function",
      "position": [
        1960,
        -130
      ],
      "parameters": {
        "functionCode": "// Create our Slack message\n// This will output a list of Ticket URLs with the status and the subject\n// 12345 [STATUS] - Ticket Subject\nlet message = \"*Hello , Please find below a list of your meetings for today*. \\n\";\n\n// Loop the input items\nfor (item of items) {\n  // Append the ticket information to the message\n  message += \"*\" + item.json.Name +' @ '+ item.json.Time + \"\\n*  - \" + item.json.URL + \"\\n\"; \n}\n\n// Return our message\nreturn [{json: {message}}];\n"
      },
      "typeVersion": 1,
      "id": "d360f8be-daf6-48fa-80ba-7b3a550fa1d5"
    },
    {
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        2150,
        -130
      ],
      "parameters": {
        "text": "={{$json[\"message\"]}}",
        "channel": "virtual-assistant",
        "attachments": [],
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": "Slack account"
      },
      "typeVersion": 1,
      "id": "94fb5c7b-6e3d-4419-a98f-2153a4f02792"
    },
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        250,
        -130
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 6
            }
          ]
        }
      },
      "retryOnFail": true,
      "typeVersion": 1,
      "id": "f34526ea-388c-427e-b70e-4949d7c090d0"
    },
    {
      "id": "documentation-node",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "parameters": {
        "content": "# Googlecalendar Workflow\n\nAutomated workflow: Googlecalendar Workflow. This workflow processes data and performs automated tasks.\n\n## Nodes:\n- 12 total nodes\n- Includes error handling\n- Follows best practices\n\n## Usage:\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production"
      }
    }
  ],
  "connections": {
    "IF": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          },
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Date & Time2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function1": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Date & Time2": {
      "main": [
        [
          {
            "node": "Function1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "Googlecalendar Workflow",
  "description": "Automated workflow: Googlecalendar Workflow. This workflow processes data and performs automated tasks.",
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC"
  }
}