workflows_backup/Slack/1191_Slack_Typeform_Automate_Triggered.json
{
  "nodes": [
    {
      "name": "Typeform Trigger",
      "type": "n8n-nodes-base.typeformTrigger",
      "position": [
        590,
        300
      ],
      "webhookId": "c8e53100-0616-4d3c-95b8-261eb0d1632b",
      "parameters": {
        "formId": "dpr2kxSL"
      },
      "credentials": {
        "typeformApi": "Typeform Access Token"
      },
      "typeVersion": 1,
      "id": "897cd62f-7eaf-4a4c-8288-849aba6d7948"
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        790,
        300
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "Name",
              "value": "={{$json[\"Let's start with your name.\"]}}"
            },
            {
              "name": "Email",
              "value": "={{$json[\"What's your email address?\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1,
      "id": "8a77ee8c-99c4-473d-aa19-6f174bebd76f"
    },
    {
      "name": "Airtable",
      "type": "n8n-nodes-base.airtable",
      "position": [
        990,
        300
      ],
      "parameters": {
        "table": "Table 1",
        "options": {},
        "operation": "append",
        "application": ""
      },
      "credentials": {
        "airtableApi": "Airtable Credentials n8n"
      },
      "typeVersion": 1,
      "id": "f8abd8c0-75bc-498b-a199-ea06e8835a2d"
    },
    {
      "name": "Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1190,
        300
      ],
      "parameters": {
        "text": "=*New Submission* 🙌\nName: {{$node[\"Set\"].json[\"Name\"]}}\nEmail: {{$node[\"Set\"].json[\"Email\"]}}",
        "channel": "general",
        "attachments": [],
        "otherOptions": {}
      },
      "credentials": {
        "slackApi": "Slack Bot Credentials"
      },
      "typeVersion": 1,
      "id": "11f47c81-1db4-49c3-95e7-6ddf1d7d4114"
    },
    {
      "id": "documentation-node",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "parameters": {
        "content": "# Typeformtrigger Workflow\n\nAutomated workflow: Typeformtrigger Workflow. This workflow processes data and performs automated tasks.\n\n## Nodes:\n- 4 total nodes\n- Includes error handling\n- Follows best practices\n\n## Usage:\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production"
      }
    }
  ],
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Typeform Trigger": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "Typeformtrigger Workflow",
  "description": "Automated workflow: Typeformtrigger Workflow. This workflow processes data and performs automated tasks.",
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC"
  }
}