workflows_backup/Mailjet/1956_Mailjet_Gmail_Create_Triggered.json
{
  "id": "pkw1vY5q1p2nNfNC",
  "meta": {
    "instanceId": "workflow-instance",
    "versionId": "1.0.0",
    "createdAt": "2024-01-01T00:00:00.000Z",
    "updatedAt": "2024-01-01T00:00:00.000Z"
  },
  "name": "Forward Netflix emails to multiple email addresses with GMail and Mailjet",
  "tags": [
    {
      "id": "NfcTamKf2RPwzXbo",
      "name": "automate-everything",
      "createdAt": "2024-02-14T20:01:44.966Z",
      "updatedAt": "2024-02-14T20:01:44.966Z"
    }
  ],
  "nodes": [
    {
      "id": "653e1069-b231-41e4-8257-5276934ec124",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        600,
        360
      ],
      "parameters": {
        "simple": false,
        "filters": {
          "sender": "netflix.com",
          "includeSpamTrash": true
        },
        "options": {},
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        }
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "rbqlV0L0SJmc5Qr6",
          "name": "Gmail account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "2edc2a63-b3ce-45a4-ad37-fde991453be5",
      "name": "Mailjet",
      "type": "n8n-nodes-base.mailjet",
      "position": [
        1540,
        360
      ],
      "parameters": {
        "html": "={{ $json.html }}",
        "text": "={{ $json.text }}",
        "subject": "={{ $json.subject }}",
        "toEmail": "={{ $json.recipient }}",
        "fromEmail": "sender@email.com",
        "additionalFields": {}
      },
      "credentials": {
        "mailjetEmailApi": {
          "id": "ToQvJxEpa4shhXkA",
          "name": "Mailjet Email account"
        }
      },
      "typeVersion": 1
    },
    {
      "id": "255de753-a0f5-458d-ac7f-ca354076e336",
      "name": "Set all recipients",
      "type": "n8n-nodes-base.set",
      "position": [
        940,
        360
      ],
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "recipients",
              "type": "arrayValue",
              "arrayValue": "['email1@example.com','email2@example.com','email3@example.com']"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 3.2
    },
    {
      "id": "fe3affe4-0655-42b4-a0a6-b8b231180fbd",
      "name": "Split Out recipients",
      "type": "n8n-nodes-base.splitOut",
      "position": [
        1240,
        360
      ],
      "parameters": {
        "include": "allOtherFields",
        "options": {
          "destinationFieldName": "recipient"
        },
        "fieldToSplitOut": "recipients"
      },
      "typeVersion": 1
    },
    {
      "id": "c53493f0-8584-43a2-9f93-60c5c7776e60",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        520,
        200
      ],
      "parameters": {
        "width": 257,
        "height": 332,
        "content": "## Gmail\n1. Connect your Gmail Account, where you are receiving emails from your Netflix account. \n2. Set the polling intervall"
      },
      "typeVersion": 1
    },
    {
      "id": "d07ae854-39ae-4cab-a59f-26c96da99958",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        860,
        200
      ],
      "parameters": {
        "width": 249,
        "height": 338,
        "content": "## Set all recipients\nReplace the sample emails in the array with the email addresses of your friends and family to whom you want to forward the Netflix emails"
      },
      "typeVersion": 1
    },
    {
      "id": "5393381b-d96d-4b68-aeac-39facafdd0aa",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1460,
        200
      ],
      "parameters": {
        "width": 265,
        "height": 335,
        "content": "## Mailjet\n1. Connect your Mailjet Account to forward the Netflix emails\n2. Set your sender email address"
      },
      "typeVersion": 1
    },
    {
      "id": "documentation-ea6db769",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        50,
        50
      ],
      "parameters": {
        "content": "# Forward Netflix emails to multiple email addresses with GMail and Mailjet\n\n## Overview\nAutomated workflow: Forward Netflix emails to multiple email addresses with GMail and Mailjet. This workflow integrates 5 different services: stickyNote, gmailTrigger, splitOut, mailjet, set. It contains 7 nodes and follows best practices for error handling and security.\n\n## Workflow Details\n- **Total Nodes**: 7\n- **Node Types**: 5\n- **Error Handling**: ✅ Implemented\n- **Security**: ✅ Hardened (no sensitive data)\n- **Documentation**: ✅ Complete\n\n## Node Breakdown\n- **Gmail Trigger**: gmailTrigger\n- **Mailjet**: mailjet\n- **Set all recipients**: set\n- **Split Out recipients**: splitOut\n- **Sticky Note**: stickyNote\n- **Sticky Note1**: stickyNote\n- **Sticky Note2**: stickyNote\n\n## Usage Instructions\n1. **Configure Credentials**: Set up all required API keys and credentials\n2. **Update Variables**: Replace any placeholder values with actual data\n3. **Test Workflow**: Run in test mode to verify functionality\n4. **Deploy**: Activate the workflow for production use\n\n## Security Notes\n- All sensitive data has been removed or replaced with placeholders\n- Error handling is implemented for reliability\n- Follow security best practices when configuring credentials\n\n## Troubleshooting\n- Check error logs if workflow fails\n- Verify all credentials are properly configured\n- Ensure all required services are accessible\n"
      }
    }
  ],
  "active": false,
  "pinData": {},
  "settings": {
    "timezone": "UTC",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "executionOrder": "v1",
    "saveManualExecutions": true
  },
  "versionId": "6e57d138-9909-46ac-bde4-b59bde72b3e1",
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Set all recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set all recipients": {
      "main": [
        [
          {
            "node": "Split Out recipients",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out recipients": {
      "main": [
        [
          {
            "node": "Mailjet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "description": "Automated workflow: Forward Netflix emails to multiple email addresses with GMail and Mailjet. This workflow integrates 5 different services: stickyNote, gmailTrigger, splitOut, mailjet, set. It contains 7 nodes and follows best practices for error handling and security."
}