workflows_backup/Readbinaryfile/0351_Readbinaryfile_Manual_Automate_Triggered.json
{
  "id": 1,
  "name": "My workflow",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        320,
        300
      ],
      "parameters": {},
      "typeVersion": 1,
      "id": "9cea6c37-968a-4d14-b1a4-568c76f57b6a"
    },
    {
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1520,
        300
      ],
      "parameters": {
        "options": {
          "allowUnauthorizedCerts": true
        },
        "subject": "Certificate For Course",
        "toEmail": "={{$node[\"SplitInBatches\"].json[\"email\"]}}",
        "fromEmail": "bhavabhuthi@riseup.net",
        "attachments": "data"
      },
      "credentials": {
        "smtp": {
          "id": "{{ $credentials.smtp.id }}",
          "name": "SMTP account"
        }
      },
      "typeVersion": 1,
      "id": "0f04229d-627a-4578-bc87-51a88d1a6793"
    },
    {
      "name": "Read Binary File",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        560,
        300
      ],
      "parameters": {
        "filePath": "/home/shashikanth/Documents/Cert-Gen-Test/data.csv",
        "dataPropertyName": "csv"
      },
      "typeVersion": 1,
      "alwaysOutputData": false,
      "id": "d8bab283-7cfc-4171-9ca4-34ded995f26e"
    },
    {
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "position": [
        840,
        300
      ],
      "parameters": {
        "options": {
          "headerRow": true
        },
        "binaryPropertyName": "csv"
      },
      "typeVersion": 1,
      "id": "0223eee7-67fb-445d-ace1-6dab5f7d893c"
    },
    {
      "name": "SplitInBatches",
      "type": "n8n-nodes-base.splitInBatches",
      "position": [
        1080,
        300
      ],
      "parameters": {
        "options": {
          "reset": false
        },
        "batchSize": 5
      },
      "typeVersion": 1,
      "id": "de35b2a0-d006-4897-b926-161e866ba817"
    },
    {
      "name": "Read Binary File1",
      "type": "n8n-nodes-base.readBinaryFile",
      "position": [
        1300,
        300
      ],
      "parameters": {
        "filePath": "=/home/shashikanth/Documents/Cert-Gen-Test/generator-output/{{$json[\"name\"]}}.png"
      },
      "typeVersion": 1,
      "id": "55a34e5f-c214-4b89-af26-ecfc10ec27ed"
    },
    {
      "id": "documentation-node",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "parameters": {
        "content": "# My workflow\n\nAutomated workflow: My workflow. This workflow processes data and performs automated tasks.\n\n## Nodes:\n- 6 total nodes\n- Includes error handling\n- Follows best practices\n\n## Usage:\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production"
      }
    },
    {
      "id": "error-handler-0f04229d-627a-4578-bc87-51a88d1a6793-b547a62a",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ],
      "parameters": {
        "message": "Error occurred in workflow execution",
        "options": {}
      }
    }
  ],
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC"
  },
  "connections": {
    "SplitInBatches": {
      "main": [
        [
          {
            "node": "Read Binary File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "SplitInBatches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Binary File1": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Read Binary File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "0f04229d-627a-4578-bc87-51a88d1a6793": {
      "main": [
        [
          {
            "node": "error-handler-0f04229d-627a-4578-bc87-51a88d1a6793-b547a62a",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "description": "Automated workflow: My workflow. This workflow processes data and performs automated tasks."
}