workflows_backup/Noop/0174_Noop_Emailsend_Automation_Scheduled.json
{
  "id": "14",
  "name": "Activity Encouragement",
  "nodes": [
    {
      "name": "Strava",
      "type": "n8n-nodes-base.strava",
      "position": [
        640,
        300
      ],
      "parameters": {
        "operation": "getAll",
        "returnAll": true
      },
      "credentials": {
        "stravaOAuth2Api": "Strava OAuth2 Creds"
      },
      "typeVersion": 1,
      "id": "83b7ca9a-24cb-42d2-ba1b-5a4e90c8c302"
    },
    {
      "name": "Accountability Settings",
      "type": "n8n-nodes-base.set",
      "position": [
        450,
        300
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "moveTime",
              "value": 1800
            }
          ],
          "string": [
            {
              "name": "actPartner1",
              "value": "john.doe@example.com"
            },
            {
              "name": "actPartner2",
              "value": "jane.doe@example.com"
            },
            {
              "name": "actPartner3",
              "value": "jill.doe@example.com"
            },
            {
              "name": "yourName",
              "value": "Jim"
            },
            {
              "name": "yourEmail",
              "value": "jim.doe@example.com"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1,
      "id": "ee30ac7b-f7f5-497e-8286-f0cfc4d671ce"
    },
    {
      "name": "Check Activity Level",
      "type": "n8n-nodes-base.if",
      "position": [
        840,
        300
      ],
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$node[\"Strava\"].json[\"moving_time\"]}}",
              "value2": "={{$node[\"Accountability Settings\"].parameter[\"values\"][\"number\"][0][\"value\"]}}",
              "operation": "largerEqual"
            }
          ]
        }
      },
      "typeVersion": 1,
      "id": "b01d7d05-1348-4da6-883c-d5c5e45c9785"
    },
    {
      "name": "Enough Activity",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1050,
        220
      ],
      "parameters": {},
      "typeVersion": 1,
      "id": "1bfd8628-f1b3-418e-8897-c91749d5adce"
    },
    {
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1050,
        390
      ],
      "parameters": {
        "text": "=Hey Accountability Team,\n\nLooks like {{$node[\"Accountability Settings\"].json[\"yourName\"]}} has been spending a bit too much time inactive! How about sending them a quick word of encouragement?\n\nThanks!\n{{$node[\"Accountability Settings\"].json[\"yourName\"]}}'s Heart",
        "options": {},
        "toEmail": "={{$node[\"Accountability Settings\"].parameter[\"values\"][\"string\"][0][\"value\"]}}; {{$node[\"Accountability Settings\"].parameter[\"values\"][\"string\"][1][\"value\"]}}; {{$node[\"Accountability Settings\"].parameter[\"values\"][\"string\"][2][\"value\"]}}",
        "fromEmail": "={{$node[\"Accountability Settings\"].json[\"yourEmail\"]}}"
      },
      "credentials": {
        "smtp": "Email Creds"
      },
      "typeVersion": 1,
      "id": "f84739ce-a42e-4ecf-b373-6d6ce0b90d37"
    },
    {
      "name": "Check Daily at 11:AM",
      "type": "n8n-nodes-base.cron",
      "position": [
        260,
        300
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 11
            }
          ]
        }
      },
      "typeVersion": 1,
      "id": "e9ca11fe-78d4-4ab4-888c-0d6cb784a41e"
    },
    {
      "id": "documentation-node",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "parameters": {
        "content": "# Activity Encouragement\n\nAutomated workflow: Activity Encouragement. This workflow processes data and performs automated tasks.\n\n## Nodes:\n- 6 total nodes\n- Includes error handling\n- Follows best practices\n\n## Usage:\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production"
      }
    },
    {
      "id": "error-handler-f84739ce-a42e-4ecf-b373-6d6ce0b90d37-fad3f22d",
      "name": "Error Handler",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ],
      "parameters": {
        "message": "Error occurred in workflow execution",
        "options": {}
      }
    }
  ],
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC"
  },
  "connections": {
    "Strava": {
      "main": [
        [
          {
            "node": "Check Activity Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Activity Level": {
      "main": [
        [
          {
            "node": "Enough Activity",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Daily at 11:AM": {
      "main": [
        [
          {
            "node": "Accountability Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Accountability Settings": {
      "main": [
        [
          {
            "node": "Strava",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "f84739ce-a42e-4ecf-b373-6d6ce0b90d37": {
      "main": [
        [
          {
            "node": "error-handler-f84739ce-a42e-4ecf-b373-6d6ce0b90d37-fad3f22d",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "description": "Automated workflow: Activity Encouragement. This workflow processes data and performs automated tasks."
}