workflows_backup/Noop/0809_Noop_Slack_Send_Scheduled.json
{
  "id": "331",
  "name": "Check To Do on Notion and send message on Slack",
  "nodes": [
    {
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "position": [
        470,
        320
      ],
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 8
            }
          ]
        }
      },
      "typeVersion": 1,
      "id": "2b9db2fc-d1e3-4718-a01b-d356fcbfa37a"
    },
    {
      "name": "NoOp",
      "type": "n8n-nodes-base.noOp",
      "position": [
        1120,
        420
      ],
      "parameters": {},
      "typeVersion": 1,
      "id": "8d8bfd96-9aeb-418b-980a-eb5a888e7100"
    },
    {
      "name": "Get To Dos",
      "type": "n8n-nodes-base.notion",
      "position": [
        670,
        320
      ],
      "parameters": {
        "blockId": "bafdscf",
        "resource": "block",
        "operation": "getAll",
        "returnAll": true
      },
      "credentials": {
        "notionApi": ""
      },
      "typeVersion": 1,
      "id": "fe18411d-a508-48b0-a914-b683d57b3f92"
    },
    {
      "name": "If task assigned to Harshil?",
      "type": "n8n-nodes-base.if",
      "notes": "Check if the task is incomplete",
      "position": [
        870,
        320
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"to_do\"][\"text\"][1][\"mention\"][\"user\"][\"name\"]}}",
              "value2": "NAME"
            }
          ],
          "boolean": [
            {
              "value1": "={{$json[\"to_do\"][\"checked\"]}}"
            }
          ]
        }
      },
      "notesInFlow": true,
      "typeVersion": 1,
      "id": "1131fcb7-8ab5-4152-af03-33c26d46295a"
    },
    {
      "name": "Create a Direct Message",
      "type": "n8n-nodes-base.slack",
      "position": [
        1120,
        220
      ],
      "parameters": {
        "options": {
          "users": [
            "U01JXLAJ6SE"
          ]
        },
        "resource": "channel",
        "operation": "open"
      },
      "credentials": {
        "slackApi": ""
      },
      "executeOnce": false,
      "typeVersion": 1,
      "id": "e1b396e8-2934-45b3-a8f1-fec13c3021c4"
    },
    {
      "name": "Send a Direct Message",
      "type": "n8n-nodes-base.slack",
      "position": [
        1320,
        220
      ],
      "parameters": {
        "text": "# TO DO",
        "channel": "={{$json[\"id\"]}}",
        "attachments": [
          {
            "title": "=☑️ {{$node[\"If task assigned to Harshil?\"].json[\"to_do\"][\"text\"][0][\"text\"][\"content\"]}}"
          }
        ],
        "otherOptions": {
          "mrkdwn": true
        }
      },
      "credentials": {
        "slackApi": ""
      },
      "typeVersion": 1,
      "id": "0c5229be-ecbd-46d2-b504-7fbc4a87f132"
    },
    {
      "id": "documentation-node",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "parameters": {
        "content": "# Check To Do on Notion and send message on Slack\n\nAutomated workflow: Check To Do on Notion and send message on Slack. This workflow processes data and performs automated tasks.\n\n## Nodes:\n- 6 total nodes\n- Includes error handling\n- Follows best practices\n\n## Usage:\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production"
      }
    }
  ],
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC"
  },
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Get To Dos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get To Dos": {
      "main": [
        [
          {
            "node": "If task assigned to Harshil?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a Direct Message": {
      "main": [
        [
          {
            "node": "Send a Direct Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If task assigned to Harshil?": {
      "main": [
        [
          {
            "node": "Create a Direct Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NoOp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "description": "Automated workflow: Check To Do on Notion and send message on Slack. This workflow processes data and performs automated tasks."
}