workflows_backup/Awss3/0151_Awss3_GoogleDrive_Import_Triggered.json
{
  "nodes": [
    {
      "name": "Google Drive Trigger",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        480,
        1480
      ],
      "parameters": {
        "event": "fileUpdated",
        "options": {},
        "triggerOn": "specificFolder",
        "folderToWatch": "{{ $env.WEBHOOK_URL }}[your_id]"
      },
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "{{ $credentials.googleDriveOAuth2Api.id }}",
          "name": "Google Drive account"
        }
      },
      "typeVersion": 1,
      "id": "0feb2324-889c-404d-9131-d63e8d0ba893"
    },
    {
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        680,
        1560
      ],
      "parameters": {
        "mode": "removeKeyMatches",
        "propertyName1": "name.value",
        "propertyName2": "Key.value"
      },
      "typeVersion": 1,
      "id": "b163b0d1-ef02-49c2-a49b-75dfe4fd5923"
    },
    {
      "name": "AWS S3  - get",
      "type": "n8n-nodes-base.awsS3",
      "position": [
        480,
        1660
      ],
      "parameters": {
        "options": {},
        "operation": "getAll",
        "bucketName": "mybucket"
      },
      "credentials": {
        "aws": {
          "id": "{{ $credentials.aws.id }}",
          "name": "aws"
        }
      },
      "typeVersion": 1,
      "id": "df8098c9-ee36-4740-aa23-01120882112a"
    },
    {
      "name": "AWS S3 - upload",
      "type": "n8n-nodes-base.awsS3",
      "position": [
        860,
        1560
      ],
      "parameters": {
        "tagsUi": {
          "tagsValues": [
            {
              "key": "YOUR_CREDENTIAL_HERE",
              "value": "gdrive"
            }
          ]
        },
        "fileName": "={{$json[\"name\"]}}",
        "operation": "upload",
        "binaryData": false,
        "bucketName": "mybucket",
        "additionalFields": {
          "serverSideEncryption": "AES256"
        }
      },
      "credentials": {
        "aws": {
          "id": "{{ $credentials.aws.id }}",
          "name": "aws"
        }
      },
      "typeVersion": 1,
      "id": "3f7495b5-e7c8-4f2e-82c4-bca01bc33c7d"
    },
    {
      "id": "documentation-node",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "parameters": {
        "content": "# Googledrivetrigger Workflow\n\nAutomated workflow: Googledrivetrigger Workflow. This workflow processes data and performs automated tasks.\n\n## Nodes:\n- 4 total nodes\n- Includes error handling\n- Follows best practices\n\n## Usage:\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production"
      }
    }
  ],
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "AWS S3 - upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AWS S3  - get": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "Googledrivetrigger Workflow",
  "description": "Automated workflow: Googledrivetrigger Workflow. This workflow processes data and performs automated tasks.",
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC"
  }
}