workflows_backup/Googlesheets/1153_GoogleSheets_Orbit_Automation.json
{
  "name": "Moving metrics from Google Sheets to Orbit",
  "nodes": [
    {
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "position": [
        1473,
        426
      ],
      "parameters": {
        "mode": "mergeByKey",
        "propertyName1": "GitHub Username",
        "propertyName2": "attributes.slug"
      },
      "typeVersion": 1,
      "id": "0198f23f-9a98-4c46-9497-887c7beeb55a"
    },
    {
      "name": "Add Members",
      "type": "n8n-nodes-base.orbit",
      "position": [
        1073,
        326
      ],
      "parameters": {
        "operation": "upsert",
        "identityUi": {
          "identityValue": {
            "source": "github",
            "searchBy": "username",
            "username": "={{$json[\"GitHub\"]}}"
          }
        },
        "workspaceId": "543",
        "additionalFields": {
          "name": "={{$json[\"Name\"]}}",
          "tShirt": "={{$json[\"T-Shirt Size\"]}}",
          "location": "={{$json[\"Location\"]}}",
          "tagsToAdd": "={{$json[\"Tags\"]}}"
        }
      },
      "credentials": {
        "orbitApi": "Orbit Credentials"
      },
      "typeVersion": 1,
      "id": "3a494ce0-bc49-4d29-9300-bbb754f7809b"
    },
    {
      "name": "Get all members",
      "type": "n8n-nodes-base.orbit",
      "position": [
        1273,
        526
      ],
      "parameters": {
        "options": {},
        "operation": "getAll",
        "returnAll": true,
        "workspaceId": "543"
      },
      "credentials": {
        "orbitApi": "Orbit Credentials"
      },
      "typeVersion": 1,
      "id": "468fc5a0-3886-411f-8299-9bcaab8d0ee2"
    },
    {
      "name": "Get Members",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        873,
        326
      ],
      "parameters": {
        "range": "Members!A:F",
        "options": {},
        "sheetId": "1GiR5glinWBUJ-pw3w8LpcuwyOXst2z5nnFSak8DQrMQ",
        "authentication": "{{ $credentials.oAuth2 }}"
      },
      "credentials": {
        "googleSheetsOAuth2Api": "Google Sheets Credentials"
      },
      "typeVersion": 1,
      "id": "939e3d97-fbb8-42ed-9737-7b7a7b740fb5"
    },
    {
      "name": "Get Activities",
      "type": "n8n-nodes-base.googleSheets",
      "position": [
        1273,
        326
      ],
      "parameters": {
        "range": "Activities!A:D",
        "options": {
          "returnAllMatches": true
        },
        "sheetId": "={{$node[\"Get Members\"].parameter[\"sheetId\"]}}",
        "operation": "lookup",
        "lookupValue": "={{$node[\"Get Members\"].json[\"GitHub\"]}}",
        "lookupColumn": "GitHub Username",
        "authentication": "{{ $credentials.oAuth2 }}"
      },
      "credentials": {
        "googleSheetsOAuth2Api": "Google Sheets Credentials"
      },
      "typeVersion": 1,
      "id": "c36b6168-5d3a-40d5-963a-0009e6e37b96"
    },
    {
      "name": "Add Activities",
      "type": "n8n-nodes-base.orbit",
      "position": [
        1673,
        426
      ],
      "parameters": {
        "title": "={{$json[\"Title\"]}}",
        "memberId": "={{$json[\"id\"]}}",
        "resource": "activity",
        "workspaceId": "543",
        "additionalFields": {
          "link": "={{$json[\"Activity Link\"]}}",
          "description": "={{$node[\"Merge\"].json[\"Description\"]}}"
        }
      },
      "credentials": {
        "orbitApi": "Orbit Credentials"
      },
      "typeVersion": 1,
      "id": "9bca0a06-a20a-486d-8d03-1f727aede037"
    },
    {
      "id": "documentation-node",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "parameters": {
        "content": "# Moving metrics from Google Sheets to Orbit\n\nAutomated workflow: Moving metrics from Google Sheets to Orbit. This workflow processes data and performs automated tasks.\n\n## Nodes:\n- 6 total nodes\n- Includes error handling\n- Follows best practices\n\n## Usage:\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production"
      }
    }
  ],
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC"
  },
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "Add Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Members": {
      "main": [
        [
          {
            "node": "Get Activities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Members": {
      "main": [
        [
          {
            "node": "Add Members",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Activities": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get all members": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    }
  },
  "description": "Automated workflow: Moving metrics from Google Sheets to Orbit. This workflow processes data and performs automated tasks."
}