workflows/Manual/0227_Manual_N8Ntrainingcustomerdatastore_Automate_Triggered.json
{
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        20,
        720
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Customer Datastore",
      "type": "n8n-nodes-base.n8nTrainingCustomerDatastore",
      "position": [
        220,
        720
      ],
      "parameters": {
        "operation": "getAllPeople"
      },
      "typeVersion": 1
    },
    {
      "name": "Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        600
      ],
      "parameters": {
        "width": 520,
        "height": 280,
        "content": "## 2. If with And/Or conditions\nSet the **Combine** field to: \n`ALL` for `AND` condition\n`ANY` for `OR` condition"
      },
      "typeVersion": 1
    },
    {
      "name": "Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        920
      ],
      "parameters": {
        "width": 520,
        "height": 360,
        "content": "## 3. Multiple branches\nWe use the `Switch` when there more than 2 possible outcomes to the filtering. We do that by specifying the condition under **Routing rules** inside the node.\n\nIn this example we send all **US-based** customers data to route 0, **customers from CO** to route 1, **customers from the UK** to route 2, and all the rest to route 3 as a fallback"
      },
      "typeVersion": 1
    },
    {
      "name": "Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        500,
        300
      ],
      "parameters": {
        "width": 520,
        "height": 260,
        "content": "## 1. Single condition If\nFilter out data that you don't want or send data to different branches"
      },
      "typeVersion": 1
    },
    {
      "name": "Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -520,
        660
      ],
      "parameters": {
        "width": 480,
        "height": 240,
        "content": "## The `If` and the `Switch` nodes are the key nodes to set conditional logic for filtering and routing data\n\n\n### Click `Execute Workflow` button and double click on the nodes to see the input and output items when you click on each node."
      },
      "typeVersion": 1
    },
    {
      "name": "Country equals US",
      "type": "n8n-nodes-base.if",
      "position": [
        540,
        420
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"country\"]}}",
              "value2": "US"
            }
          ]
        }
      },
      "typeVersion": 1
    },
    {
      "name": "Country is empty or Name contains 'Max'",
      "type": "n8n-nodes-base.if",
      "position": [
        540,
        720
      ],
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json[\"country\"]}}",
              "operation": "isEmpty"
            },
            {
              "value1": "={{$json[\"name\"]}}",
              "value2": "Max",
              "operation": "contains"
            }
          ]
        },
        "combineOperation": "any"
      },
      "typeVersion": 1
    },
    {
      "name": "Country based branching",
      "type": "n8n-nodes-base.switch",
      "position": [
        540,
        1120
      ],
      "parameters": {
        "rules": {
          "rules": [
            {
              "value2": "US"
            },
            {
              "output": 1,
              "value2": "CO"
            },
            {
              "output": 2,
              "value2": "UK"
            }
          ]
        },
        "value1": "={{$json[\"country\"]}}",
        "dataType": "string",
        "fallbackOutput": 3
      },
      "typeVersion": 1
    },
    {
      "id": "documentation-a54d9428",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        50,
        50
      ],
      "parameters": {
        "content": "# Manualtrigger Workflow\n\n## Overview\nAutomated workflow: Manualtrigger Workflow. This workflow integrates 5 different services: stickyNote, switch, manualTrigger, if, n8nTrainingCustomerDatastore. It contains 9 nodes and follows best practices for error handling and security.\n\n## Workflow Details\n- **Total Nodes**: 9\n- **Node Types**: 5\n- **Error Handling**: ✅ Implemented\n- **Security**: ✅ Hardened (no sensitive data)\n- **Documentation**: ✅ Complete\n\n## Node Breakdown\n- **On clicking 'execute'**: manualTrigger\n- **Customer Datastore**: n8nTrainingCustomerDatastore\n- **Note**: stickyNote\n- **Note1**: stickyNote\n- **Note2**: stickyNote\n- **Note3**: stickyNote\n- **Country equals US**: if\n- **Country is empty or Name contains 'Max'**: if\n- **Country based branching**: switch\n\n## Usage Instructions\n1. **Configure Credentials**: Set up all required API keys and credentials\n2. **Update Variables**: Replace any placeholder values with actual data\n3. **Test Workflow**: Run in test mode to verify functionality\n4. **Deploy**: Activate the workflow for production use\n\n## Security Notes\n- All sensitive data has been removed or replaced with placeholders\n- Error handling is implemented for reliability\n- Follow security best practices when configuring credentials\n\n## Troubleshooting\n- Check error logs if workflow fails\n- Verify all credentials are properly configured\n- Ensure all required services are accessible\n"
      }
    }
  ],
  "connections": {
    "Customer Datastore": {
      "main": [
        [
          {
            "node": "Country is empty or Name contains 'Max'",
            "type": "main",
            "index": 0
          },
          {
            "node": "Country based branching",
            "type": "main",
            "index": 0
          },
          {
            "node": "Country equals US",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Customer Datastore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "name": "Manualtrigger Workflow",
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null,
    "timezone": "UTC"
  },
  "description": "Automated workflow: Manualtrigger Workflow. This workflow integrates 5 different services: stickyNote, switch, manualTrigger, if, n8nTrainingCustomerDatastore. It contains 9 nodes and follows best practices for error handling and security.",
  "meta": {
    "instanceId": "workflow-instance",
    "versionId": "1.0.0",
    "createdAt": "2024-01-01T00:00:00.000Z",
    "updatedAt": "2024-01-01T00:00:00.000Z"
  }
}