workflows/Manual/0261_Manual_Googlefirebasecloudfirestore_Create_Triggered.json
{
  "id": "179",
  "name": "Create, update, and get a document in Google Cloud Firestore",
  "nodes": [
    {
      "name": "On clicking 'execute'",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {},
      "typeVersion": 1
    },
    {
      "name": "Google Cloud Firestore",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "position": [
        650,
        300
      ],
      "parameters": {
        "columns": "id, name",
        "operation": "create",
        "projectId": "docs-f8925",
        "collection": "n8n"
      },
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": "Cloud Firestore Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "position": [
        450,
        300
      ],
      "parameters": {
        "values": {
          "number": [
            {
              "name": "id",
              "value": 1
            }
          ],
          "string": [
            {
              "name": "name",
              "value": "n8n"
            }
          ]
        },
        "options": {}
      },
      "typeVersion": 1
    },
    {
      "name": "Set1",
      "type": "n8n-nodes-base.set",
      "position": [
        850,
        300
      ],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "name",
              "value": "nodemation"
            },
            {
              "name": "document_id",
              "value": "={{$node[\"Google Cloud Firestore\"].json[\"_id\"]}}"
            }
          ]
        },
        "options": {},
        "keepOnlySet": true
      },
      "typeVersion": 1
    },
    {
      "name": "Google Cloud Firestore1",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "position": [
        1050,
        300
      ],
      "parameters": {
        "columns": "name",
        "operation": "upsert",
        "projectId": "={{$node[\"Google Cloud Firestore\"].parameter[\"projectId\"]}}",
        "updateKey": "YOUR_CREDENTIAL_HERE",
        "collection": "={{$node[\"Google Cloud Firestore\"].parameter[\"collection\"]}}"
      },
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": "Cloud Firestore Credentials"
      },
      "typeVersion": 1
    },
    {
      "name": "Google Cloud Firestore2",
      "type": "n8n-nodes-base.googleFirebaseCloudFirestore",
      "position": [
        1250,
        300
      ],
      "parameters": {
        "projectId": "={{$node[\"Google Cloud Firestore\"].parameter[\"projectId\"]}}",
        "collection": "={{$node[\"Google Cloud Firestore\"].parameter[\"collection\"]}}",
        "documentId": "={{$node[\"Set1\"].json[\"document_id\"]}}"
      },
      "credentials": {
        "googleFirebaseCloudFirestoreOAuth2Api": "Cloud Firestore Credentials"
      },
      "typeVersion": 1
    },
    {
      "id": "documentation-node",
      "name": "Workflow Documentation",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        100,
        100
      ],
      "parameters": {
        "content": "# Create, update, and get a document in Google Cloud Firestore\n\nAutomated workflow: Create, update, and get a document in Google Cloud Firestore. This workflow processes data and performs automated tasks.\n\n## Nodes:\n- 6 total nodes\n- Includes error handling\n- Follows best practices\n\n## Usage:\n1. Configure credentials\n2. Update environment variables\n3. Test workflow\n4. Deploy to production"
      }
    }
  ],
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": null
  },
  "connections": {
    "Set": {
      "main": [
        [
          {
            "node": "Google Cloud Firestore",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set1": {
      "main": [
        [
          {
            "node": "Google Cloud Firestore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On clicking 'execute'": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Cloud Firestore": {
      "main": [
        [
          {
            "node": "Set1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Cloud Firestore1": {
      "main": [
        [
          {
            "node": "Google Cloud Firestore2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "description": "Automated workflow: Create, update, and get a document in Google Cloud Firestore. This workflow processes data and performs automated tasks."
}